#task-form {
  width: 100%;
  min-height: 5vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
}

#task-from > * {
  height: 100%;
}

#task-form-input {
  color: #000000;
}

#task-form-submit {
  background: #276ef1;
  color: #fafafa;
}

@media only screen and (min-width: 768px) {
  #task-form {
    width: 50%;
  }
}
