#task-form {
  width: 100%;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#task-form-input,
#task-form-submit {
  width: auto;
  height: 100%;
}

#task-form-input {
  color: #000000;
}

#task-form-submit {
  margin-left: 0.5rem;
  background: #276ef1;
  color: #fafafa;
}
