.task {
  width: 100%;
  min-height: 8vh;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.task > * {
  margin: auto;
  text-align: center;
}

.task-checkbox {
}

.task-description {
  word-wrap: break-word;
}

.delete-button {
  background: #dc3545;
  color: #fafafa;
}
