.task {
  width: 100%;
  min-height: 5vh;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
}

.task > * {
  margin: auto;
  text-align: center;
}

.task-description {
  word-wrap: break-word;
}

.delete-button {
  background: var(--danger-color);
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .task {
    width: 50%;
  }
}
