.app {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 200vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5%;
}

#app-title {
  text-align: center;
}
